//////////////
// PALETTES //
//////////////

$mat-dark-bf-orange: (
  50: #ffeeec,
  100: #ffd4d0,
  200: #ffb7b0,
  300: #ff9a90,
  400: #ff8479,
  500: #ff6e61,
  600: #ff6659,
  700: #ff5b4f,
  800: #ff5145,
  900: #ff3d31,
  A100 : #fffdfd,
  A200 : #fffafa,
  A400 : #ffe0de,
  A700 : #ffc7c4,
  contrast: (
    50: #24374e,
    100: #24374e,
    200: #24374e,
    300: #f9f8ff,
    400: #f9f8ff,
    500: #f9f8ff,
    600: #f9f8ff,
    700: #f9f8ff,
    800: #f9f8ff,
    900: #f9f8ff
  )
);
$mat-dark-bf-blue: (
  50: #f3f6ff,
  100: #e2e8ff,
  200: #cfd8ff,
  300: #bbc8ff,
  400: #adbdff,
  500: #9eb1ff,
  600: #96aaff,
  700: #8ca1ff,
  800: #8298ff,
  900: #7088ff,
  A100 : #ffffff,
  A200 : #fdfdff,
  A400 : #f9faff,
  A700 : #f8f9ff,
  contrast: (
    50: #24374e,
    100: #24374e,
    200: #24374e,
    300: #f9f8ff,
    400: #f9f8ff,
    500: #f9f8ff,
    600: #f9f8ff,
    700: #f9f8ff,
    800: #f9f8ff,
    900: #f9f8ff
  )
);
$mat-dark-bf-red: (
  50 : #ffe8e7,
  100 : #ffc5c2,
  200 : #ff9f99,
  300 : #ff7970,
  400 : #ff5c52,
  500 : #ff3f33,
  600 : #ff392e,
  700 : #ff3127,
  800 : #ff2920,
  900 : #ff1b14,
  A100 : #fffcfc,
  A200 : #fffbfb,
  A400 : #ffc9c8,
  A700 : #ffb0ae,
  contrast: (
    50: #24374e,
    100: #24374e,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

////////////////
// BACKGROUND //
////////////////

// Background palette for dark themes.
$bf-dark-background: (
  app-bar:      #06081B,
  status-bar:   black,
  background:   #010314,
  card:         #0D0F1F,
  hover:        rgba(93, 110, 132, 0.08),
  dialog:           #0d0f1f,
  disabled-button:  rgba(155,177,255,0.12),
  raised-button:    rgba(0,0,0,0.3),
  focused-button:     $light-focused,
  selected-button:    map_get($mat-grey, 900),
  selected-disabled-button: rgba(155, 177, 255, 0.12),
  disabled-button-toggle: rgba(155, 177, 255, 0.12),
  unselected-chip:    map_get($mat-grey, 700),
  disabled-list-option: rgba(155, 177, 255, 0.12),
  // TODO remove this custom variable when last palette will be imported
  beware: #F6A92C,
);

////////////////
// FOREGROUND //
////////////////

// Foreground palette for dark themes.
$bf-dark-foreground: (
  base:           rgba(155, 177, 255, 0.12),
  text:           #f3f6ff,
  divider:        #34364c,
  dividers:       #34364c,
  disabled:       rgba(155, 177, 255, 0.12),
  disabled-text:    $light-disabled-text,
  disabled-button:  rgba(white, 0.3),
  elevation:      black,
  hint-text:        $light-disabled-text,
  secondary-text:   $light-secondary-text,
  icon:           #B7BCD9,
  icons:          #B7BCD9,
  slider-min:       rgba(#000000, 0.3),
  slider-off:       rgba(#000000, 0.3),
  slider-off-active: rgba(#000000, 0.3),

  // Custom variables
  blue-icon:    #9eb1ff,
  dark-text:    #80818a,
);

//////////
// FONT //
//////////
$bf-dark-font: (
  display-4: #444960,
  display-3: #d0d9ff,
  display-2: #b1b8db,
  display-1: #444960,
  h1: #b1b8db,
  h2: #d0d9ff,
  h3: #b1b8db,
  h4: #444960,
  h5: #444960,
  h6: #878eac,
  mat-body-1: #878EAC,
  mat-body-2: #b1b8db,
  mat-caption: #444960
);


///////////
// THEME //
///////////

$bf-dark-primary: mat-palette($mat-dark-bf-blue, 500, 50, 500);
$bf-dark-accent: mat-palette($mat-dark-bf-orange, 400, 50, 700);
$bf-dark-warn: mat-palette($mat-dark-bf-red, 500);

$dark-theme: (
  // Standard
  primary: $bf-dark-primary,
  accent: $bf-dark-accent,
  warn: $bf-dark-warn,
  is-dark: true,
  foreground: $bf-dark-foreground,
  background: $bf-dark-background,
  // font key is not standard angular theme, we've created font palette for each typography config except button & input
  font: $bf-dark-font
);
