
//////////////
// PALETTES //
//////////////

$mat-light-bf-warn: (
  50 : #ffe8e7,
  100 : #ffc5c2,
  200 : #ff9f99,
  300 : #ff7970,
  400 : #ff5c52,
  500 : #ff3f33,
  600 : #ff392e,
  700 : #ff3127,
  800 : #ff2920,
  900 : #ff1b14,
  A100 : #fffcfc,
  A200 : #fffbfb,
  A400 : #ffc9c8,
  A700 : #ffb0ae,
  contrast: (
    50 : #071326,
    100 : #071326,
    200 : #071326,
    300 : #071326,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #071326,
    A200 : #071326,
    A400 : #071326,
    A700 : #071326,
  )
);

$mat-light-bf-blue: (
  50 : #e4e9fe,
  100 : #bac8fc,
  200 : #8da4fa,
  300 : #5f80f8,
  400 : #3c64f7,
  500 : #1a49f5,
  600 : #1742f4,
  700 : #1339f2,
  800 : #0f31f0,
  900 : #0821ee,
  A100 : #ffffff,
  A200 : #e3e5ff,
  A400 : #b0b6ff,
  A700 : #969fff,
  contrast: (
    50 : #071326,
    100 : #071326,
    200 : #071326,
    300 : #071326,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #071326,
    A200 : #071326,
    A400 : #071326,
    A700 : #071326,
  )
);

$mat-light-bf-red: (
  50 : #ffeeec,
  100 : #ffd4d0,
  200 : #ffb7b0,
  300 : #ff9a90,
  400 : #ff8479,
  500 : #ff6e61,
  600 : #ff6659,
  700 : #ff5b4f,
  800 : #ff5145,
  900 : #ff3d31,
  A100 : #fffdfd,
  A200 : #fffafa,
  A400 : #ffe0de,
  A700 : #ffc7c4,
  contrast: (
    50 : #071326,
    100 : #071326,
    200 : #071326,
    300 : #071326,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #071326,
    A200 : #071326,
    A400 : #071326,
    A700 : #071326,
  )
);

////////////////
// BACKGROUND //
////////////////
// Background palette for light themes.
$bf-light-background: (
  app-bar: #FFF,
  status-bar: #FFF,
  background: #F4F4F4,
  disabled-button: #D1DBE6,
  hover: rgba(mat-color($mat-light-bf-blue, 500), 0.05),
  card: #FFF,
  dialog: #FFF,
  raised-button: mat-color($mat-light-bf-blue, 500),
  focused-button: #8DA4FA,
  selected-button: mat-color($mat-light-bf-blue, 500),
  selected-disabled-button: #D1DBE6,
  disabled-button-toggle: #D1DBE6,
  unselected-chip: map_get($mat-grey, 200),
  disabled-list-option: #D1DBE6,
  tooltip: rgba(mat-color($mat-grey, 700), 0.9),
  // TODO remove this custom variable when last palette will be imported
  beware: #F6A92C,
);

////////////////
// FOREGROUND //
////////////////
// Foreground palette for light themes.
$bf-light-foreground: (
  base: mat-color($mat-light-bf-blue, 500),
  divider: #DBDCE0,
  dividers: #DBDCE0,
  disabled: #BBC8D4,
  disabled-text: #BBC8D4,
  disabled-button: #BBC8D4,
  elevation: rgba(#000, 0.12),
  hint-text: #838993,
  secondary-text: #2A3545,
  icon: #606F87,
  icons: #606F87,
  slider-min: rgba(black, 0.87),
  slider-off: rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
  text: #5E6672,

  // Custom variables
  light-text: #BBC8D4,
);

//////////
// FONT //
//////////
$bf-light-font: (
  display-4: #838993,
  display-3: #071326,
  display-2: #2a3545,
  display-1: #838993,
  h1: #2a3545,
  h2: #071326,
  h3: #2a3545,
  h4: #838993,
  h5: #838993,
  h6: #5e6672,
  mat-body-1: #5e6672,
  mat-body-2: #2a3545,
  mat-caption: #838993
);


///////////
// THEME //
///////////

$bf-light-primary: mat-palette($mat-light-bf-blue, 500, 50, 700);
$bf-light-accent: mat-palette($mat-light-bf-red, 500, 50, 800);
$bf-light-warn: mat-palette($mat-light-bf-warn, 500);

$light-theme: (
  // Standard
  primary: $bf-light-primary,
  accent: $bf-light-accent,
  warn: $bf-light-warn,
  is-dark: false,
  foreground: $bf-light-foreground,
  background: $bf-light-background,
  // font key is not standard angular theme, we've created font palette for each typography config except button & input
  font: $bf-light-font
);
